@font-face {
        font-family: gothic-body;
        src: url(fonts/Gothica/Gothica-Book.ttf);
}

@font-face {
    font-family: gothic-bold;
    src: url(fonts/Gothica/Gothica-Bold.ttf);
}

@font-face {
    font-family: constantine-bold;
    src: url(fonts/Constantine/Constantine_Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    background-color: #0f0b11;
}

.calendar-content {
    color: white;
    width: 80vw;
    min-height: 80vh;
    margin: 1rem auto;
}

.rental-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80vw;
    height: auto;
    margin: auto;
    font-family: 'gothic-bold';
}

.rental-content h1{
    background-color: #cb2233;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.index-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    font-family: 'gothic-bold';
}

.nav-buttons {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
}

.nav-buttons a{
    text-align: center;
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: #cb2233;
}

.nav-buttons a:hover {
    background-color: white;
    color: black;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-top: 8rem;
    width: 70vw;
    height: 30vh;
}

.month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: center;
    background-color: #cb2233;
    padding: 0.5rem;
    border: 1px solid white;

    font-family: 'constantine-bold';
}

.dow {
  margin: 0;
  padding: 10px 0;
  background-color: #666;
  font-family: 'constantine-bold';
}

.dow ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 0;
  margin: 0;
  padding: 0;
}

.dow li {
  display: inline-block;
  width: 13%;
  color: white;
  text-align: center;
  margin: 0 5px;
}

.about-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.blog-content {
    color: white;
    text-align: center;
}

.blog-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.blog-post {
    background-color: #cb2233;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    min-height: 100px;
    border: 1px solid black;
    background-color: white;
    font-size: 1rem;
    font-family: 'gothic-bold';
    color: black;
}

.divider {
    padding: 2rem;
    margin: 2rem auto;
    border: 1px solid white;
}

.event {
    background-color: #cb2233;
    color: white;
}

.empty {
    border: 1px solid black;
    background-color: grey;
    color: white;
}

.film-icon {
    width: 100%;
    margin: auto;
    height: auto;
}

.film-strip {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60px;
    z-index: 999;

    background-color: #cb2233;

    background-image:
        /* Central holes */
        radial-gradient(
            circle,
            #0f0b11 6px,
            transparent 6px
        ),

        /* Left broken line */
        repeating-linear-gradient(
            to bottom,
            #0f0b11 0px,
            #0f0b11 3px,
            transparent 3px,
            transparent 9px
        ),

        /* Right broken line */
        repeating-linear-gradient(
            to bottom,
            #0f0b11 0px,
            #0f0b11 3px,
            transparent 3px,
            transparent 9px
        );

    background-size:
        60px 30px,
        2px 12px,
        2px 12px;

    background-position:
        center 0,
        9px 0,
        49px 0;

    background-repeat:
        repeat-y,
        repeat-y,
        repeat-y;

    animation: film-scroll 1.5s linear infinite;
}

.film-strip-left {
    left: 0;
}

.film-strip-right {
    right: 0;
}

@keyframes film-scroll {
    from {
        background-position:
            center 0,
            9px 0,
            49px 0;
    }

    to {
        background-position:
            center 30px,
            9px 30px,
            49px 30px;
    }
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: relative;
    z-index: 1000;
    text-align: center;
    padding: 1rem;
    background-color: #242424;
    color: white;
    margin-top: auto;

    font-family: 'gothic-body';
}

.calendar-body footer{
    margin-top: 9rem;
    position: block;
}

footer p {
    font-size: 0.9rem;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'gothic-body';
}

.segment p {
    text-align: center;
}

.about-content h1, .about-content h2 {
    border-bottom: 2px solid #cb2233;
    font-family: 'gothic-bold';
}

.committee-link a{
    background-color: #cb2233;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'gothic-bold';
}

.committee-link a:hover {
    background-color: white;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #242424;
    z-index: 1000;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: 'gothic-bold';
}

.navbar-logo {
    width: 75px;
    height: auto;
    display: block;
}

.homebar {
    background-color: #242424;
    z-index: 1000;
    padding: 0.5rem;
    height: 2em;
}

.topnav-buttons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 0;
    margin: 0;
    padding: 0;
}

.topnav-buttons a {
    text-decoration: none;
    font-size: 0.55rem;
    color: white;
    padding: 0.5rem 1rem;
    border-right: 1px solid #cb2233;
}

.calendar-topnav a {
    font-size: 0.5rem;
}

.topnav-buttons li:last-child a {
    border-right: none;
}

.topnav-buttons a:hover {
    background-color: white;
    color: black;
}

.committee-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.committee-member {
    text-align: center;
    width: 70vw;
    font-size: 1rem;
    background-color: #cb2233;
    color: white;
    border-radius: 5px;
    margin: 2rem;
    padding: 1rem;
}

.committee-member img {
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    width: 50vw;
    height: 30vh;
}

.bio {
    font-family: 'gothic-body';
}

.role {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'constantine-bold';
}

.img-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0;
    width: 100%;
}

.img-grid div{
    width: 40vw;
    height: 20vh;
}

.img-grid img {
    width: 100%;
    height: 100%;
}

.single-img {
    width: 80vw;
    height: 40vh;
}

.single-img img {
    width: 100%;
    height: 100%;
}

.committee-member h3 {
    font-family: 'constantine-bold';
}

.committee-member div{
    border: 1px solid white;
    margin: 1rem 0;
}

.arrow-button {
    width: 30px;
    height: 30px;
}

.arrow-button img {
    width: 100%;
    height: 100%;
}

.committee-content h1 {
    font-family: 'constantine-bold';
    font-size: 2rem;
    color: white;
    text-align: center;
}

.events-segment figcaption {
        font-size: 1rem;
        text-align: center;
}

.pumpkin-caption {
    margin: 0 auto;
}

.dropdown-box {
    position: relative;
    display: block;
}

.event-icon {
    margin: 0 auto;
    display: block;
}

.event-info {
    display: none;
    position: absolute;
    color: white;
    background-color: #8C1823;
    text-align: center;
    padding: 0.5rem;
    min-width: 40vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1100;
    margin-bottom: 1rem;
}

.event-info h3 {
    font-family: 'constantine-bold';
    font-size: 1rem;
    border-bottom: 2px solid white;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
}

.event-description {
    font-family: 'gothic-body';
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-top: 2px solid white;
    text-align: center;
}

.event-details {
    font-family: 'gothic-bold';
    font-size: 0.95rem;
    padding: 0.2rem;
    width: 100%;
}

.event-icon:hover ~ .event-info {display: block;}

.event-info:hover {display: block;}

.social-info {
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    padding-top: 0rem;
}

.film-text {
    padding-top: 0.5rem;
    padding-bottom: 0;
}

.ticket-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    border-radius: 5px;
    font-family: 'gothic-bold';
}

.ticket-link:hover {
    background-color: white;
    color: black;
}

.about-logo {
    display: none;
}

.desktop-image {
    display: none;
}

.mobile-images {
    flex-direction: row;
}

.mobile-images img{
    width: 40vw;
    height: 25vh;
    display: inline-block;
}

@media (min-width: 768px) {
    .logo {
        width: 25vw;
        height: 40vh;
        margin-top: 2.5rem;
    }

    .nav-buttons {
        margin-top: 1rem;
    }

    .about-content {
        font-size: 1.2rem;
    }

    .segment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 70vw;
        font-size: 1.2rem;
        gap: 3rem;
    }

    .img-segment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .single-img {
        width: 65vw;
        height: 65vh;
    }

    .img-grid div{
        width: 20vw;
        height: 40vh;
    }

    .img-grid img{
        width: 100%;
        height: 100%;
    }

    .ghostwalk-img {
        width: 30vw;
        margin: 0 auto;
    }

    .film-segment {
        flex-direction: column;
    }

    .film-segment .single-img {
        width: 30vw;
    }

    .events-segment {
        flex-direction: column;
    }

    .event-images {
        display: none;
    }

    .img-grid {
        gap: -1rem;
    }

    .segment p {
        max-width: 60vw;
    }

    .events-segment p{
        max-width: 30vw;
        font-size: 1.5rem;
    }

    .committee-profiles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;
    }

    .committee-member {
        width: 30vw;
        height: auto;
        font-size: 1.2rem;
        margin: 0 auto;
    }

    .committee-member img {
        width: 20vw;
        height: 30vh;
    }

    .rental-content {
        width: 30vw;
        height: auto;
    }

    .event-info {
        min-width: 20vw;
    }

    .about-logo {
        display: block;
        width: 20vw;
        height: auto;
    }

    .desktop-image {
        display: block;
        width: 20vw;
        height: auto;
    }

    .desktop-ghostwalk {
        width: 70vw;
        height: auto;
    }

    .mobile-images {
        display: none;
    }

    .topnav-buttons a {
        font-size: 0.8rem;
    }

}